Source: gcode
Maintainer: John Thornton <jt@gnipsel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils
Priority: optional

Package: gcode
Priority: optional
Architecture: any
Depends: python3 (>=3.6), python3-pyqt5, python3-pyqt5.qtsql, ${misc:Depends}
Description: Conversational G code generator for LinuxCNC
 Generate routines like facing, pocket, hole patterns

